---
import DocLayout from "../../layouts/DocLayout.astro";

import DocumentPreview from '../../components/home/DocumentPreview.astro'

let docs = (await Astro.glob('../docs/*.{md,mdx}')).
sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
docs = docs.filter((doc) => !doc.frontmatter.draft);

export interface Props {
  heading?: string 
}
  
const {
  heading = 'Документы для скачивания'  
} = Astro.props;

---


<DocLayout title="FAQ || Автоюрист Сургут">
  <div class="doc px-2">
		<h1 class="text-xl text-center py-4 uppercase">{heading}</h1>
		<hr>	
	
		<section class="section py-4">
			<span>
				{docs.map(doc => (
					<DocumentPreview frontmatter={doc.frontmatter}  />
				))}
			</span>				
		</section>		
	</div>
</DocLayout>

<style>
	.doc {
  padding-top: 20px;
  height: 100vh;  
}

@media (max-width: 520px) {  
  .doc h1 {
    font-size: 1rem;
  }

}

@media (max-width: 360px) {  
  .doc h1 {
    font-size: 1.1rem;
  }
  .doc span {
    font-size: .8rem;
  }
}
</style>



	
