---
import { ArrowRight} from 'react-feather';

export interface Props {
  link?: string;
  }
  
const {
  link = '/pdd/bilet-1'
  
} = Astro.props;
  
---



<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">  
  <p class="mb-2 text-xs text-center font-bold tracking-tight text-gray-900 dark:text-white">
    Билет # 1
  </p>

  <p class="mb-3 font-normal italic text-xs text-center text-gray-700 dark:text-gray-400">Глава №1 ПДД</p>

  <a href={link} class="inline-flex gap-2 items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#6482c2] rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >Приступить <ArrowRight size={15} />
  </a>
</div>
