---
import CardLayout from '../../../layouts/CardLayout.astro'



import { ArrowRight,} from 'react-feather';

export interface Props {
  urlImg?: string;
  
}
  
const {
  urlImg = '/src/images/pdd/1/pic-1.jpg'
  
} = Astro.props;
  
---



<CardLayout title='Общие вопросы || Глава 1 ПДД'>
  <h1 class="my-8 font-bold text-3xl text-center ">
    Билет # 1
  </h1>

  <div class="grid place-content-center" id="app">
    <div class="max-w-md bg-white border border-gray-200 rounded-lg shadow-md shadow-slate-700 dark:bg-gray-800 dark:border-gray-700">      
        <img class="rounded-t-lg w-full" src={urlImg} alt="pic-1">     
      <div class="p-5">          
        <p class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
          Разрешен ли Вам съезд на дорогу с грунтовым покрытием? 
          <!-- {{ questions[0]['question'] }} -->
        </p>
         
          <label             
              class="block mt-4 border border-gray-300 rounded-lg py-1 px-6 text-md"             
            >
            <input type="radio" class="hidden"  id="">
            Разрешен
          </label>
          <label             
              class="block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-md"             
            >
            <input type="radio" class="hidden"  id="">
            Разрешен только при технической неисправности т/c
          </label>
          <label             
              class="block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-md"             
            >
            <input type="radio" class="hidden"  id="">
            Запрещен
          </label>


          <!-- Button -->
          <a href="#" class="inline-flex items-center px-3 py-2 my-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 gap-2 tracking-wide float-right">
              Следующий вопрос
              <ArrowRight size={15}/>
          </a>
      </div>
    </div>
  </div>

</CardLayout>


