---
import "../../styles/blog/blog.css"
import Favicons from '../../components/home/Favicons.astro'
import NavBar from "../../components/home/NavBar.astro"
import Footer from "../../components/home/Footer.astro"
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Favicons icons -->
		<Favicons />    
    <script defer src="scripts/filter.js" 
    type="module"></script>    
    <title>Блог || Автоюрист Сургут</title>
  </head>
  <body>
    <NavBar />
    <main>
      <div class="container">
        <label for="search" class="pt-8">
          <input
            type="search"
            id="search"
            autocomplete="off"
            spellcheck="false"
            placeholder="Поиск по блогу"
          />
        </label>
        <div class="post-container"></div>
        <button class="btn btn--view">Еще посты</button>
      </div>
    </main>
    <Footer /> 
    <a href="#" id="scroll_top" title="Наверх"></a>   
  </body>
</html>

<style>
  #scroll_top {
    display: none;
    position: fixed;
    bottom: 160px;
    right: 100px;
    z-index: 1000;
    width: 32px;
    height: 32px;
    background: url(images/arrowUp.svg) 50% 50% no-repeat;
    border-radius: 50%;
    opacity: 0.5;
}
#scroll_top:hover {
  opacity: 1;
}
</style>

<script>
  (function loadSkeleton() {
    const skeletonCSS = `
  <style>
    .skeleton {
      border-radius: 5px;
      animation: 650ms linear infinite alternate skeleton-loading;
    }
    
    .post__tag, .post__author--role {
      height: 20px;
      width: 70px;
    }

    .post__tag:last-of-type {
      width: 110px;
    }
    .post__date, .post__author--name {
      height: 28px;
      width: 140px;
    }
    .post__author--name {
      margin-bottom: 10px;
    }

    .post__header {
      border-radius: 0;
      min-height: 120px;
    }

    .post__author--avatar {
      border-radius: 50%;
      width: 55px;
      height: 55px;
    }

    .post__body .skeleton {
      min-height: 18px;
      margin-bottom: 10px;
    }
    
    .post__body .skeleton:last-of-type {
      width: 80%;
    }

    .btn {
      min-height: 50px;
      min-width: 190px;
    }

    @keyframes skeleton-loading {
      0% {
        background-color: hsl(var(--accent2));
      }
      100% {
        background-color: hsl(var(--accent1) / .2);
      }
    }
  </style>
  `;
    const skeleton = `
  <article class="post">
    <div class="post__meta">
      <div class="post__tag--container">
        <span class="skeleton post__tag"></span>
        <span class="skeleton post__tag"></span>
      </div>
      <p class="skeleton post__date"></p>
    </div>
    <h3 class="skeleton post__header"></h3>
    <div class="post__author">
      <div class="skeleton post__author--avatar"></div>
      <div>
        <p class="skeleton post__author--name"></p>
        <p class="skeleton post__author--role"><small></small></p>
      </div>
    </div>
    <div class="post__body">
      <p class="skeleton"></p>
      <p class="skeleton"></p>
      <p class="skeleton"></p>
      <p class="skeleton"></p>
    </div>
    <a href="#" class="skeleton btn"></a>
    </article>
  `;
    document.querySelector(".post-container").innerHTML = [
      skeleton.repeat(3),
      skeletonCSS,
    ].join("");
  })();
</script>


<script is:inline src="/scripts/jquery-3.6.0.min.js" >
</script>

<script is:inline src="/scripts/arrowTop.js" >
  
</script>




