---

---

<div class="mb-8">
  {youTubeVideoId && <Youtube id={youTubeVideoId} />}
  {
    coverImage && !youTubeVideoId && (
      <img
        src={coverImage}
        alt={title}
        width="1920"
        width="1080"
        class="rounded-lg"
      />
    )
  }
</div>