---
import Layout from '../layouts/Layout.astro'

import HeroError from '../components/404/HeroError.astro'

import SocialsLinks from '../components/home/SocialsLinks.astro'

import VideoError from '../components/404/VideoError.astro'

---


<Layout title="404 || Автоюрист Сургут">
	<HeroError />
	<SocialsLinks />	
	<VideoError />
	<section class="section--page">
		<a id="events"></a>
		<h3>Страница, которую вы ищете была удалена или недоступна.</h3>	
  </section>
</Layout>