---
import Layout from '../layouts/Layout.astro'

import Hero from '../components/home/hero.astro'

import SocialsLinks from '../components/home/SocialsLinks.astro'

import NewVideo from '../components/home/NewVideo.astro'

// import Events from '../components/home/Events.astro'
import EventPreview from '../components/home/EventPreview.astro'

import ArticlePreview from '../components/home/ArticlePreview.astro'

import Video from '../components/home/Video.astro'



let posts = (await Astro.glob('./posts/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
posts = posts.filter((post) => !post.frontmatter.draft);

let events = (await Astro.glob('./events/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
events = events.filter((event) => !event.frontmatter.draft);

---


<Layout title="Главная || Автоюрист Сургут">
	<Hero />
	<SocialsLinks />	
	<NewVideo />
	
	<section class="section--page">		
		<h3>Новая статья</h3>	
		{events.map(event => (
			<EventPreview frontmatter={event.frontmatter}/>
		))}
	</section>

	<section class="section--page">		
		<h3>Последние статьи</h3>
		{posts.map(post => (
			<ArticlePreview frontmatter={post.frontmatter}/>
		))}
	</section>
	<Video />
</Layout>

