---
import Layout from '../layouts/Layout.astro'

import Hero from '../components/home/hero.astro'

import SocialsLinks from '../components/home/SocialsLinks.astro'

import HomeVideo from '../components/home/HomeVideo.astro'

// import Events from '../components/home/Events.astro'
import EventPreview from '../components/home/EventPreview.astro'

import ArticlePreview from '../components/home/ArticlePreview.astro'

import Winners from '../components/home/Winners.astro'


import { FileText, ArrowRight, Play, Calendar} from 'react-feather';

let posts = (await Astro.glob('./posts/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
posts = posts.filter((post) => !post.frontmatter.draft);

//Orderd By "order attribute"
// const posts = (await Astro.glob('./posts/*.{md,mdx}')).sort(
// 	(a, b) => b.frontmatter.order - a.frontmatter.order
// );

let events = (await Astro.glob('./events/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
events = events.filter((event) => !event.frontmatter.draft);

---


<Layout title="Главная || Автоюрист Сургут">
	<Hero />
	<SocialsLinks />	
	<HomeVideo />
	<section class="section--page">
		<a id="events"></a>
		<h3>Новое видео</h3>
	
		{events.map(event => (
			<EventPreview frontmatter={event.frontmatter}/>
		))}
	</section>
	

	
	<section class="section--page">
		<a id="blog"></a>
		<h3>Последние статьи</h3>

		{posts.map(post => (
			<ArticlePreview frontmatter={post.frontmatter}/>
		))}
	</section>
	<Winners/>
</Layout>

