---
const { frontmatter } = Astro.props;
import { Icon } from 'astro-icon'
---

<a href={`/${frontmatter.slug}`}>
  <div class="card--article-preview">
    <div class="article-preview__body">     
      <h3>
        <Icon 
          pack="mdi" 
          name="file-document-edit" 
          size={25} />
        </h3>
      <div>
        <strong>{frontmatter.title}</strong>
        <br />       
        <small>{frontmatter.descr} </small> 
      </div>
    </div>
    <Icon 
      pack="mdi" 
      name="arrow-right-thin" 
      size={25} 
    />    
  </div>
</a>


