---
const {frontmatter} = Astro.props;
import { ArrowRight, Calendar} from 'react-feather';
---

<a href={`/${frontmatter.slug}`}>    
    <div class='card--article-preview'>      
        <div class="article-preview__body">          
          <h3><Calendar size={30}/></h3>
            <div>
              <strong>{frontmatter.title}</strong>
              <br/>
              <small>{frontmatter.descr} </small>             
            </div>
        </div>
        <ArrowRight size={18}/>
    </div>
  </a>

  <style>
    
  </style>

  


