---
const today = new Date();
---

<footer class="mt-24 bg-[#18191a] py-8">
  <p class="text-center">
    2021-{today.getFullYear()} © Автоюрист Сургут
  </p>    
</footer>

<style>
  footer {
    box-shadow:  var(--shadowBoxTop);
  }
  .text-center {
    color: #adb0b1;
    font-weight: bold;
  }
</style>
