---
import admin from '../../images/home/admin.webp'

export interface Props {
  heading?: string;
  text?: string;
}
  
const { 
  heading = "Автоюрист Сургут", 
  text = "Лишаю водительских прав ? Попали в ДТП ? Не можете поставить на учет автомобиль ? Проблемы с ГИБДД ? Спор со страховой компанией ?"
} = Astro.props;
---  

<section class="wrapper--hero py-6" class="section">
  <img class="admin" src={admin} alt="Автоюрист Сургут" width="150px" height="150px"/>
  <div>
    <h1 class="py-10">{heading}</h1>
    <p class="pr-2 text-base ">{text}</p>
  </div>  
</section>

<style>
  .wrapper--hero {
    display: flex;
    align-items: center;
    gap: 3em;    
  }
  
  @media (max-width: 600px) {  
  .wrapper--hero{
      display: flex;
      align-items: center;
      gap: 1em;
      flex-direction: column;      
    }
  }

  .admin {
    box-sizing: content-box;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;    
  }

  h1 {    
    font-size: 3em;
    line-height: 0;
    letter-spacing: .06em; 
    font-weight: bold;    
  } 
  
  
  @media (max-width: 706px) {
    h1 {
      font-size: 2em; 
      text-align: center;      
    }
    
    p {
      text-align: center;
    }
  }   

  @media (max-width: 400px) {
    h1 {
      font-size: 1.5em; 
      text-align: center;      
    }
    
    p {
      font-size: 1em;
    }
    
    
  } 
  
</style>