---
import HeroVideo from '../../images/home/heroVideo.png'
import { Play } from 'react-feather'
---

<section class="section--page course-preview">
  <div class='course-preview-image-border'>
    <a href="https://dennisivy.teachable.com/p/django-beginners-course" target="_blank">
        <img class='course-preview-image' src={HeroVideo} />
    </a>
  </div>
  <div id='course-preview-body'>
    <h3>Вводное видео</h3>
    <p>Хотите узнать больше ? Это возможно !!!</p>
    <a class='btn btn--md' href='https://www.youtube.com/watch?v=pgFYEWsCezk&list=PLyUzx0zcVVwzwsqhRr7XnzSa1aRdYBEAa&index=4' target="_blank">
      <Play width="16px" height="16px" />
      Смотреть на YouTube
    </a>
  </div>
</section>