---
import HeroVideo from '../../images/home/heroVideo.png'
import { Play } from 'react-feather'
---

<section class="section--page course-preview">
  <div class='course-preview-image-border'>
    <a href="#" target="_blank">
        <img class='course-preview-image' src={HeroVideo} />
    </a>
  </div>
  <div id='course-preview-body'>
    <h3>Вводное видео</h3>
    <p class="py-4">Хотите узнать больше ???</p>
    <a class='btn btn--md' href='https://www.youtube.com/watch?v=pgFYEWsCezk&list=PLyUzx0zcVVwzwsqhRr7XnzSa1aRdYBEAa&index=4' target="_blank">
      <Play width="16px" height="16px" />
      Смотреть на YouTube
    </a>
  </div>
</section>

<style>  
.course-preview {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2em;
  align-items: center;
}

.course-preview-image {
  display: block;
  border-radius: 10px;
  object-fit:cover;
  cursor: pointer;
}

.course-preview-image-border {
  padding: 3px;
  margin: 0;
  line-height: 0;
  border-radius: 10px;
  border: 1px solid var(--mainBorderColor);
}

.btn {
  border: 1px solid var(--mainBorderColor);
  color: var(--secondaryTextColor);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
  display: flex;
  align-items: center;
  gap:5px;
  width: fit-content;
  box-shadow: var(--shadowBoxBottom);
}

.btn:hover{
  border-color: var(--mainLinkColor-light);
  transition: all .5s ease 0s;
  
}

.btn--md{
  font-size: .9em;
}

</style>