---
import course from '../../images/home/course.png'
import { Play } from 'react-feather'
---

<section class="section--page course-preview">
  <div class='course-preview-image-border'>
    <a href="https://dennisivy.teachable.com/p/django-beginners-course" target="_blank">
        <img class='course-preview-image' src={course} />
    </a>
  </div>
  <div id='course-preview-body'>
    <h3>Вводное видео</h3>
    <p>Хотите узнать больше ... Смотрите</p>
    <a class='btn btn--md' href='https://dennisivy.teachable.com/p/django-beginners-course' target="_blank">
      <Play width="16px" height="16px" />
      View Course
    </a>
  </div>
</section>