---
const navLinks = [
  {url: '/', title: 'Главная'},
  {url: '/blog', title: 'Блог'},
  {url: '/documents', title: 'Документы'},
  {url: '/faq', title: 'FAQ'}
]

export interface Props {
  src?: string;
  
}
  
const {
  src = '/logo.png'
  
} = Astro.props;
  
---


  

<div class="navbar bg-[#18191a] py-6 sticky top-0">
    <a class="logo" href="/">
      <img 
        class="logo" 
        src={src}
        width="50px"
        height="50px"
        alt="Автоюрист Сургут" 
      />
    </a>
    <nav>
      <ul role="navigation">
        {
          navLinks.map ((
            link =>
              <li>
                <a class="nav-link" href={link.url}>
                        {link.title}
                </a>
              </li>
            ))
        }                         
      </ul>
    </nav>          
</div>



<style>
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    box-shadow: var(--shadowBoxBottom);
  }  

  ul{
    display: flex;     
  }

    

  .navbar a {
    color:#adb0b1;
    font-size: 1em;
  }

  
  @media (max-width: 767px) {			
		h1{
			font-size: .5em;
		}
	}

  @media (max-width: 575px) {			
		h1{
			font-size: .2em;
		}

    .nav-link {
      font-size: .95em;     
      
    }

    .navbar a {
      margin: 0 .5em;
      font-size: .9em;      
    }
	}

    

  .navbar a {
    margin: 0 1em;
    text-transform: uppercase;
  }

  @media (max-width: 467px) {
    .logo {
    padding-bottom: 10px;
    }
  }

  
  .navbar a:hover{
    color: var(--mainLinkColor-light);
    transition: all .5s ease 0s;
  }

  .active {
  color: #6482c2;
}

</style>

<!--  Color active menu -->
<script is:inline src="/scripts/activePage.js" >
  
</script>




