---
import newVideo from '../../images/home/newVideo.webp'
import { Icon } from 'astro-icon'

const href = 'https://www.youtube.com/watch?v=pgFYEWsCezk&list=PLyUzx0zcVVwzwsqhRr7XnzSa1aRdYBEAa&index=4'

export interface Props {
  heading?: string;
  
}
  
const {
  heading = 'Новое видео'
  
} = Astro.props;
---



  
<section class="section new-video">
  <div class='new-video-image-border'>
    <a href={href} target="_blank">
        <img 
          class='new-video-image'                  
          src={newVideo}
          alt="Новое видео" 
        />
    </a>
  </div>
  <div class='new-video-body pb-4'>
    <h2 class="pb-4 underline underline-offset-8 decoration-dotted">
      {heading}
    </h2>    
    <a class='btn btn--md' href={href} target="_blank">
      <Icon 
        pack="typcn" 
        name="social-youtube" 
        size={25} 
      />      
      &nbsp; Смотреть на YouTube
    </a>
  </div>
</section>

<style>  
.new-video {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2em;
  align-items: center;
}

.new-video-image {
  display: block;
  border-radius: 10px;  
  object-fit:cover;
  cursor: pointer;
}


.new-video-body {
  border-bottom: none;
  
}

@media(max-width:600px) {
  .new-video-body {
    border-bottom: 1px solid var(--mainBorderColor);
  }
  
}


.new-video-image-border {
  padding: 3px;
  margin: 0;
  line-height: 0;
  border-radius: 10px;
  border: 1px solid var(--mainBorderColor);
}

.btn {
  border: 1px solid var(--mainBorderColor);
  color: var(--secondaryTextColor);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
  display: flex;
  align-items: center;
  gap:5px;
  width: fit-content;
  box-shadow: var(--shadowBoxBottom);
}

.btn:hover {
  border-color: var(--mainLinkColor-light);
  transition: all .5s ease 0s;
  
}

.btn--md {
  font-size: .9em;
}

@media(max-width:600px) {
  .new-video{
    grid-template-columns: 1fr;
  }
  
}
</style>