<section class="section--page">
  <div class="socials-links">
    <a href="#" target="_blank">YouTube</a>
    <a href="#" target="_blank">ВКонтакте</a>
    <a href="tel:+79222538375">+79222538375</a> 
  </div>
</section>

<style>  
	.socials-links{
    display: flex;
    justify-content: flex-start;
    column-gap: 2em;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom:1em;
}

  .socials-links a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 1em;
    transition: 0.3s;
}

  .socials-links a:hover{
    font-weight: 100;
    color: var(--mainLinkColor-light);
    font-size: 0.9em;
}

@media (max-width: 365px) {
  .socials-links a{
    font-size: .9em;
  }
}
</style>