---
import VideoCard from '../home/VideoCard.astro'

---


<section>
    <div id="video"></div>
    <h3>Видео материалы</h3>
    <p class="py-4">Представляем вниманию наших Гостей видеоролики c полезным юридическим контентом на актуальные темы современности. </p>

  <div id="video-wrapper">
    <a href="#" target="_blank">        
      <VideoCard /> 
    </a>
  </div>
</section>

<style>    
#video-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}



@media(max-width:800px) {
  #video-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}

</style>