---
import VideoCard from '../home/VideoCard.astro'

export interface Props {
  heading?: string;
  text?: string;
}
  
const { 
  heading = "Видео материалы", 
  text = "Представляем вниманию наших Гостей видеоролики c полезным юридическим контентом на актуальные темы современности." 
} = Astro.props;

const videosData = [
  {title: 'Видео 1', subtitle: 'Описание 1'},
  {title: 'Видео 2', subtitle: 'Описание 2'},
  {title: 'Видео 3', subtitle: 'Описание 3'},
  {title: 'Видео 4', subtitle: 'Описание 4'},
  {title: 'Видео 5', subtitle: 'Описание 5'},
  {title: 'Видео 6', subtitle: 'Описание 6'}
];
---

<section>
    <div id="video"></div>
    <h3>{heading}</h3>
    <p class="py-4">{text}</p>

  <div id="video-wrapper"> 
    {videosData.map(video => (
        <VideoCard 
          title={video.title}
          subtitle={video.subtitle}
          /> 
      ))}       
  </div>
</section>

<style>    
#video-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

@media(max-width:800px) {
  #video-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}

@media (max-width: 536px) {
  .py-4 {
    font-size: .8em;
  }
}

</style>