<div class="top" title="Top">
  <i class="ion ion-ios-arrow-up"></i>
</div>

<style>
  .top {
    position: fixed;
    bottom: 25px;
    right: -100px;
    z-index: 5;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    background-color: #09080f;
    color: #fff;
    cursor: pointer;
    transition: all .25s ease;
}
  .top.is-active {
    right: 30px;
}
</style>
