---
import img from "../../images/blog/articles/01.jpg";
import author from "../../images/blog/articles/author.jpg";
---

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="container__inner">
        <div class="row grid">
          <div class="article col col-6 col-t-12 grid__post animate article--big" >
            <div class="article__inner">
              <a
                class="article__image"
                href="/2018/11/13/second-post/"
              >
                <img
                  class="lazy loaded"
                  alt="second-post"
                  data-ll-status="loaded"
                  src={img}
                />
              </a>

              <div class="article__content">
                <div class="article__meta">
                  <span class="article__minutes">
                    2 min read

                    <time
                      class="article__date"
                      datetime="2018-11-13T12:01:35+00:00">Nov 13, 2018</time
                    >
                  </span>
                </div>

                <h2 class="article__title">
                  That which does not kill us makes us stronger
                </h2>

                <p class="article__excerpt">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque corporis laboriosam quod error aliquid Cumque corporis laboriosam quod error aliquid
                </p>

                <div class="article__bottom">
                  <div class="article__author">
                    <a href="/about/" aria-label="Author"
                      ><img
                        class="article__author-image lazy loaded"
                        alt="Author"
                        data-ll-status="loaded"
                        src={author}
                      />
                    </a>
                  </div>

                  <div class="article__bottom-meta">
                    <a href="/about/" class="article__author-link"
                      >Адвокат</a
                    >                    
                    <span class="article-tags">
                      <a href="/tag/Business" class="article__tag">Business</a>

                      <a href="/tag/Work" class="article__tag">Work</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="article col col-6 col-t-12 grid__post animate article--big" >
            <div class="article__inner">
              <a
                class="article__image"
                href="/2018/11/13/second-post/"
              >
                <img
                  class="lazy loaded"
                  alt="second-post"
                  data-ll-status="loaded"
                  src={img}
                />
              </a>

              <div class="article__content">
                <div class="article__meta">
                  <span class="article__minutes">
                    2 min read

                    <time
                      class="article__date"
                      datetime="2018-11-13T12:01:35+00:00">Nov 13, 2018</time
                    >
                  </span>
                </div>

                <h2 class="article__title">
                  That which does not kill us makes us stronger
                </h2>

                <p class="article__excerpt">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque corporis laboriosam quod error aliquid Cumque corporis laboriosam quod error aliquid
                </p>

                <div class="article__bottom">
                  <div class="article__author">
                    <a href="/about/" aria-label="Author"
                      ><img
                        class="article__author-image lazy loaded"
                        alt="Author"
                        data-ll-status="loaded"
                        src={author}
                      />
                    </a>
                  </div>

                  <div class="article__bottom-meta">
                    <a href="/about/" class="article__author-link"
                      >Адвокат</a
                    >                    
                    <span class="article-tags">
                      <a href="/tag/Business" class="article__tag">Business</a>

                      <a href="/tag/Work" class="article__tag">Work</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .article__author-image {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 3px;
  margin-right: 8px;
  border: 2px solid #0da2b8;
  border-radius: 50%;
  overflow: hidden;
}
</style>
