---
import img100 from "../../images/blog/footer_img/100.jpg"
import img110 from "../../images/blog/footer_img/110.jpg"
import admin from '../../images/home/admin.jpg'
---

<section class="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col col-4 col-d-6 col-t-12">
        <div class="widget widget-recent">
          <div class="widget__head">
            <h3 class="widget__title">Последние посты</h3>
          </div>
          <div class="recent-posts">
            <a
              class="recent-posts__image"
              href="/2018/11/13/that-which-does-not-kill-us-makes-us-stronger/"
              ><img
                class="lazy loaded"
                alt="home"
                data-ll-status="loaded"
                src={img100}
              />
            </a>

            <div class="recent-posts__content">
              <div class="article__meta">
                <span class="article__minutes"> 2 min read</span>
                <time class="article__date" datetime="2018-11-13T12:01:35+00:00"
                  >Nov 13, 2018</time
                >
              </div>
              <h4 class="recent-posts__title">
                <a
                  href="/2018/11/13/that-which-does-not-kill-us-makes-us-stronger/"
                  >That which does not kill us makes us stronger</a>
              </h4>
              <div class="article__bottom">
                <div class="article__author">
                  <a href="/about/" aria-label="Robert Wilson"
                    ><img
                      class="article__author-image lazy loaded"
                      alt="author"
                      data-ll-status="loaded"
                      src={admin}
                    />
                  </a>
                </div>
                <div class="article__bottom-meta">
                  <a href="/about/" class="article__author-link"
                    >Адвокат
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="recent-posts">
            <a
              class="recent-posts__image"
              href="/2018/11/12/do-what-you-can-with-what-you-have-where-you-are/"
              ><img
                class="lazy loaded"
                alt="metro"
                data-ll-status="loaded"
                src={img110}
              />
            </a>

            <div class="recent-posts__content">
              <div class="article__meta">
                <span class="article__minutes"> 2 min read</span>
                <time class="article__date" datetime="2018-11-12T12:01:35+00:00"
                  >Nov 12, 2018</time
                >
              </div>
              <h4 class="recent-posts__title">
                <a
                  href="/2018/11/12/do-what-you-can-with-what-you-have-where-you-are/"
                  >Do what you can, with what you have, where you are</a>
              </h4>
              <div class="article__bottom">
                <div class="article__author">
                  <a href="/about/" aria-label="Robert Wilson"
                    ><img
                      class="article__author-image lazy loaded"
                      alt="author"
                      data-ll-status="loaded"
                      src={admin}
                    />
                  </a>
                </div>
                <div class="article__bottom-meta">
                  <a href="/about/" class="article__author-link"
                    >Адвокат</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-4 col-d-6 col-t-12">
        <div class="widget widget-tag-cloud">
          <div class="widget__head">
            <h3 class="widget__title">Поисковые теги</h3>
          </div>
          <div class="tag__cloud">
            <a href="/tag/business/" class="set-1">Business</a>
            <a href="/tag/fashion/" class="set-2">Fashion</a>
            <a href="/tag/life/" class="set-5">Life</a>
            <a href="/tag/lifestyle/" class="set-4">Lifestyle</a>
            <a href="/tag/nature/" class="set-2">Nature</a>
            <a href="/tag/notes/" class="set-2">Notes</a>
            <a href="/tag/rest/" class="set-5">Rest</a>
            <a href="/tag/story/" class="set-5">Story</a>
            <a href="/tag/technology/" class="set-1">Technology</a>
            <a href="/tag/travels/" class="set-4">Travels</a>
            <a href="/tag/work/" class="set-5">Work</a>
          </div>
        </div>
      </div>

      <div class="col col-4 col-d-6 col-t-12">
        <div class="widget widget-subscribe">
          <div class="widget__head">
            <h3 class="widget__title">Интересные новости</h3>
          </div>
          <p class="subscribe-subtitle">
            Здесь будут интересные новости(добавить блок)
          </p>
          <!-- Вставить блок -->
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .footer-widgets{
  padding:64px 0 32px
}

  .footer-widgets .row .col{
    flex-grow:1;
  }

  @media only screen and (max-width: 768px){
    .footer-widgets{
        padding:48px 0 0;
    }
  }

  .widget{
    margin-bottom:40px;
  }

  @media only screen and (max-width: 768px){
    .widget{
        margin-bottom:64px;
    }
  }

  .widget__title{
    position:relative;
    padding-left:8px;
    margin-bottom:36px;
    font-size:24px;
    line-height:1;
    color:#fff;
  }

  .widget__title::after{
    content:"";
    position:absolute;
    left:0;
    top:50%;
    z-index:-1;
    transform:translateY(-50%);
    display:block;
    width:106px;
    height:38px;
    border-radius:4px 0px 0px 4px;
    background:linear-gradient(90deg, #0da2b8 -5.19%, rgba(15,14,21,0) 100%);
  }

  @media only screen and (max-width: 992px){
    .widget__title{
      font-size:24px;
    }
  }

  .recent-posts{
    display:flex;
    align-items:center;
    margin-bottom:20px;
  }

  .recent-posts:last-child{
    margin-bottom:0;
  }

  @media only screen and (max-width: 360px){
    .recent-posts{
        flex-wrap:wrap;
        margin-bottom:32px;
    }
  }

  .recent-posts__title a:hover{
    color: #0da2b8;
  }

  .recent-posts__image{
    position:relative;
    display:block;
    width:100%;
    max-width:174px;
    height:144px;
    margin-right:20px;
    border-radius:16px;
    overflow:hidden;
    background:#09080f;
  }

  .recent-posts__image img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:16px;
    object-fit:cover;
  }

  @media only screen and (max-width: 360px){
    .recent-posts__image{
      height:auto;
      max-width:100%;
      padding-top:56.6%;
      margin:0 0 20px;
    }
  }

  .recent-posts__content .recent-posts__title{
    font-size:18px;
    margin:8px 0;
  }

  .recent-posts__content .article__author-image{
    width:28px;
    height:28px;
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    padding: 3px;
    margin-right: 8px;
    border: 2px solid #0da2b8;
    border-radius: 50%;
    overflow: hidden;
  }

  .tag__cloud{
    display:flex;
    flex-wrap:wrap;
  }

  .tag__cloud a{
    display:inline-block;
    padding:8px 16px;
    margin:0 5px 5px 0;
    font-size:12px;
    line-height:10px;
    font-weight:700;
    border:3px solid rgba(255,255,255,0.1);
    border-radius:24px;
    color:#aaa;
  }

  .tag__cloud a:hover{
    border-color:#0da2b8;
    color:#fff;
  }
</style>
