<div class="logo">
  <a class="logo__link" href="/">
  LOGO
  </a>
</div>


<style>
  .logo__link{  
  font-size:28px;
  line-height:1;
  font-weight:900;
  vertical-align:middle;
  color:#eee;
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing:-1px
}
  .logo__link:hover{
    color:#ff7b7b
  }
  .logo__image{
    max-height:40px
  }


</style>