<nav class="main-nav">
  <div class="main-nav__box">
    <div class="nav__icon-close">
      <i class="ion ion-md-close"></i>
    </div>
    <div class="nav-grid">
      <div class="nav-grid__item">
        <h2 class="nav-grid__title">Menu</h2>
        <div class="mobile-nav">
          <ul class="nav__list list-reset">
            <li class="nav__item">
              <a href="/" class="nav__link">Главная</a>
            </li>  
            <li class="nav__item">
              <a href="/blog" class="nav__link">Блог</a>
            </li>     
            <li class="nav__item">
              <a href="/documents" class="nav__link">Документы</a>
            </li>
            <li class="nav__item">
              <a href="/about" class="nav__link">Об Автоюристе</a>
            </li>               
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Styles component -->
<style>  
  .main-nav{
    width:100%;
    max-width:1300px;
    margin:0 auto;
  }

  .main-nav__box{
    display:flex;
    align-items:center;
    width:80%;
    padding-top:200px;
    margin:0 auto;
  }

  .main-nav__box .nav__icon-close{
    position:absolute;
    top:20px;
    right:40px;
    z-index:5;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    color:rgba(255,255,255,0.5);
    transition:all .25s ease;
    cursor:pointer;
  }

  .main-nav__box .nav__icon-close:hover{
    color:#fff;
  }

  @media only screen and (max-width: 768px){
    .main-nav__box{
      padding-top:100px;
    }

  .main-nav__box .nav__icon-close{
    top:22px;
    right:42px;
  }
}

  @media only screen and (max-width: 576px){
    .main-nav__box{
      width:90%;
    }
  }

  .nav-grid{
    width:100%;
    height:75vh;
    overflow-y:auto;
}

  .nav-grid__item{
    margin-bottom:30px;
  }

  @media only screen and (max-width: 768px){
    .nav-grid__item{
        height:auto;
    }
  }

  .nav-grid__title{
    position:relative;
    margin-bottom:48px;
    padding-bottom:15px;
    font-size:40px;
    text-align:center;
    color:#eee;
  }

  .nav-grid__title::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%, -50%);
    display:block;
    width:25px;
    height:2px;
    background-color:#fff;
  }

  @media only screen and (max-width: 768px){
    .nav-grid__title{
        margin-bottom:30px;
    }
  }
</style>
