---
import RulesLayout from '../../layouts/RulesLayout.astro'
import Card from '../../components/pdd/Card.astro'



export interface Props {
	heading?: string;	
}
	
const {
	heading = 'Билеты ПДД (категория А и B)',
	
} = Astro.props;	

---


<RulesLayout title="ПДД Экзамены || Автоюрист Сургут">
	<h1 class="text-2xl text-center my-6">{heading}</h1>
		<!-- container -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-x-6 gap-y-10">	
	<Card />			
</div>
</RulesLayout>