---
import '../styles/home/main.css'
import Favicons from '../components/home/Favicons.astro'
import NavBar from '../components/home/NavBar.astro'
import Footer from '../components/home/Footer.astro'

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Favicons -->
		<Favicons />
		
		<meta name="description" content="Страница наиболее часто возникающих вопросов к автоюристу в Сургуте." />

    <meta name="keywords" content="вопросы автоюристу,консультация автоюриста, консультация автоюриста в сургуте, консультация автоюриста в сургуте бесплатно, автоюрист в сургуте консультация, вопросы и ответы автоюриста" />
		<!-- Canonical link -->
		<link rel="canonical" href="https://avtourist-surgut.ru/faq">
		<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
		
		<title>{title}</title>
	</head>
	<body>
		<NavBar/>
		<section class='container'>
			<slot />
		</section>
		<Footer />
	</body>
</html>

<script is:inline src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js" >
	
</script>


