---
import "../../styles/faq/faq.css"
import FaqLayout from "../../layouts/FaqLayout.astro";

---


<FaqLayout title="FAQ || Автоюрист Сургут">
   <section class="section--page">    
      <h1 class="text-xl text-center">
        Наиболее часто встречающиеся вопросы водителей(FAQ)
      </h1> 
      <div class="container">
        <div class="accordion py-8">
          <div class="accordion-item" id="question1">
            <a class="accordion-link" href="#question1">
              <div class="flex ">
                <h2 class="text-sm uppercase px-4 underline underline-offset-4">1. Меня остановил сотрудник ГИБДД.  Мои действия в такой ситуации?</h2>
                
              </div>            
              <i class="icon ion-md-arrow-forward"></i>
              <i class="icon ion-md-arrow-down"></i>
            </a>
            <div class="answer">
              <p>На дороге возникает множество ситуаций поэтому мы рекомендуем сохранить Наш номер телефона <a href="tel:+79222538375">+79222538375</a> и немедленно звонить Нам</p>
            </div>
            <hr>
        </div>
          <div class="accordion-item" id="question2">
            <a class="accordion-link" href="#question2">
              <div class="flex">
                <h2 class="text-sm uppercase px-4 underline underline-offset-4">2. Cоставлен административный протокол ?Что делать ?</h2>              
              </div>
              <i class="icon ion-md-arrow-forward"></i>
              <i class="icon ion-md-arrow-down"></i>
            </a>
            <div class="answer">
              <p>В первую очередь необходимо исследовать доказательственную базу собранную сотрудником ГИБДД. Если у Вас с этим трудности звоните.</p>
            </div>
            <hr>
        </div>
          <div class="accordion-item" id="question3">
            <a class="accordion-link" href="#question3">
              <div class="flex">
                <h2 class="text-sm uppercase px-4 underline underline-offset-4">3. Что делать если судом уже вынесено постановление ?</h2>              
              </div>
              <i class="icon ion-md-arrow-forward"></i>
              <i class="icon ion-md-arrow-down"></i>
            </a>
            <div class="answer">
              <p>В таком случае всегда остается вариант обжалования постановлениия в вышестоящий суд. Это реально работает.</p>
            </div>
            <hr>
        </div>
        <div class="accordion-item" id="question4">
            <a class="accordion-link" href="#question4">
              <div>
                <h2 class="text-sm uppercase px-4 underline underline-offset-4">4. Вышестоящий суд оставил постановление без изменения ?
                </h2>              
              </div>
              <i class="icon ion-md-arrow-forward"></i>
              <i class="icon ion-md-arrow-down"></i>
            </a>
            <div class="answer">
              <p>Даже в такой ситуации не стоит отчаиваться. После ознакомления со всеми обстоятельствами дела мы поможем Вам разрешить данную проблему. </p>
            </div>
            <hr>
        </div>
        <div class="accordion-item" id="question5">
          <a class="accordion-link" href="#question5">
            <div>
              <h2 class="text-sm uppercase px-4 underline underline-offset-4">5. Сколько стоит консультация у Вашего специалиста ?</h2>              
            </div>
            <i class="icon ion-md-arrow-forward"></i>
            <i class="icon ion-md-arrow-down"></i>
          </a>
          <div class="answer">
            <p>Юридические консультации у нашего Автоюриста совершенно бесплатны.</p>
          </div>
          <hr>
      </div>
       </div>  
      </div>    	
      
  </section>  
</FaqLayout>


